<%- include('/layouts/header') %>
<h1>Welcome / Bienvenido</h1>
<br />
<h3><%= error.status %> | <%= error.message %></h3> <!-- Display the error status and message -->
<br />
<a href="/">← Back to Home</a> 
<<<<<<< HEAD
<%- include('layouts/footer') %>
=======
<%- include('layouts/footer') %> 
>>>>>>> 61dd3c1e7807ffd94b05ee207cd483bca04f6bea
