<%- include ('layouts/header') %>
<h1 class="table">Manage Users</h1>

<table class="table">
  <thead>
    <th>ID</th>
    <th>Email</th>
    <th>Role</th>
  </thead>
  <tbody>
    <% users.forEach(user => { %>
    <tr>
      <td><%= user._id %></td>
      <td><a href="/admin/user/<%= user._id %>"><%= user.email %></a></td>
      <td>
        <form action="/admin/update-role" method="post" class="manage-user-form">
          <input type="hidden" name="id" value="<%= user._id %>" />

          <!-- Role Selection -->
          <select name="role" id="role-<%= user._id %>">
            <option value="ADMIN" <%= user.role === 'ADMIN' ? 'selected' : '' %>>Admin</option>
            <option value="MODERATOR" <%= user.role === 'MODERATOR' ? 'selected' : '' %>>Moderator</option>
            <option value="CLIENT" <%= user.role === 'CLIENT' ? 'selected' : '' %>>Client</option>
          </select>

          <input type="submit" value="Update">
        </form>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>

<%- include ('layouts/footer') %>
